{% extends 'base.html.twig' %}

{% block title %}
    Lecture d'un compte - {{ parent() }}
{% endblock %}
 
{% block body %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Banko</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('easyadmin') }}" target="_blank"><span data-feather="database"></span> Admin</a>
            </li>
        </ul>
    </nav>
{#
  <select style="width: 80px;margin-left: 718px; " name="compte" onChange="redirige(this.value)">
        {% for c in comptes %}
            <option {% if c.id == compte.id %} selected="selected" {% endif %}value={{ c.id }}>{{ c.nom }}</option>
        {% endfor %}
  </select>#}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% for compte in comptes %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="credit-card"></span>
                                {{ compte.nom }}
                            </a>
                        </li>
                        {% endfor%}
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <br>
                <h2> Compte - {{ compte.nom }}</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>TRAITE</th>
                            <th>LIBELLE</th>
                            <th>DATE</th>
                            <th>CREDIT</th>
                            <th>DEBIT</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mouvement in mouvements %}
                            <tr>
                                <td style="text-align: center;"><a href="#" id="traite{{ mouvement.id }}">{% if mouvement.traite == 1 %}Oui{% else %}Non{% endif %} </a></td>
                                <td><a href="#" id="libelle{{ mouvement.id }}">{{ mouvement.libelle }}</a></td>
                                <td style="text-align: center;"><a href="#" id="date{{ mouvement.id }}">{{ mouvement.date|date("d/m/Y") }}</a></td>
                                <td style="text-align: center;"><a href="#" id="credit{{ mouvement.id }}">{{ mouvement.credit }}</a></td>
                                <td style="text-align: center;"><a href="#" id="debit{{ mouvement.id }}">{{ mouvement.debit }}</a></td>
                                <td style="text-align: center;"><i class="icon-remove"></i></td>
{#                              <td style="text-align: center;"><a href="{{ path('mouvement_delete', { 'id': mouvement.id }) }}"><i class="icon-remove"></i></a></td>#}
                            </tr>
                        {% else %}
                            <tr>Pas (encore !) de compte</tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
     
    {#{{ render(controller('BankoCompteBundle:Mouvement:new', {'compte_id': compte.id})) }}

    <table>
        <tr>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 190px;"><b>Solde Courant </b></td>
            <td style="width: 148px;"><b>{{ solde_courant }} €</b></td>
        </tr>
        <tr>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 190px;"><b>Solde Prévisionnel </b></td>
            <td style="width: 148px;"><b>{{ solde_previsionnel }} €</b></td>
        </tr>
    </table>#}

    <div class="pagination">
      
      <ul>
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nombre_page) %}
          <li{% if p == page %} class="active"{% endif %}>
            <a href="{{ path('show', {'id': compte.id, 'page': p}) }}">{{ p }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <p>
      <a href="{{ path('home') }}" class="btn">
        <i class="icon-chevron-left"></i>Retour à la liste
      </a>
    </p>

   <script type="text/javascript">
      function redirige(value)
      {
        var url = '{{ path('show', {'id': 'compte.id' , 'page': 1}) }}';
        url = url.replace("compte.id", value);
        document.location = url;
      }
  </script>
{% endblock %}
