{% extends 'base.html.twig' %}

{% block title %}
    {{ 'nanny_salary'|trans }}
{% endblock %}

{% block body %}
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
        <br>
        <h1>{{ 'nanny_salary'|trans }}</h1>
        <h4 class="float-left text-success">{{ 'amount_month'|trans }} : <span id="montant">0</span> €</h4>
        <br><br>
        <div>
            <h6>Entretien</h6>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="entretien_mercredi">{{ 'count_wednesdays'|trans }}</label>
                    <input type="text" class="form-control" id="entretien_mercredi" value="0" data-prix="2.65" data-heures="4">
                </div>
                <div class="form-group col-md-4">
                    <label for="entretien_normal">{{ 'count_full_days'|trans }}</label>
                    <input type="text" class="form-control" id="entretien_normal" value="0" data-prix="3.37" data-heures="9,75">
                </div>
                <div class="form-group col-md-4">
                    <label for="nb-jours">{{ 'total_days'|trans }}</label>
                    <span class="form-control text-white bg-success" id="nb-jours">0</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="heures"><strong>{{ 'count_normal_hours'|trans }}</strong></label>
                    <span type="text" class="form-control text-white bg-success" id="heures">0</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="salaire"><strong>{{ 'salary'|trans }}</strong></label>
                    <span type="text" class="form-control text-white bg-success" id="salaire">604.50</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="entretien-prix"><strong>{{ 'maintenance'|trans }}</strong></label>
                    <span type="text" class="form-control text-white bg-success" id="entretien-prix">0</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="repas"><strong>{{ 'meal'|trans }}</strong></label>
                    <span type="text" class="form-control text-white bg-success" id="repas" data-prix="3.20">0</span>
                </div>
            </div>
            <button type="submit" id="calculer" class="btn btn-info">{{ 'calculate'|trans }}</button>
        </div>

    </main>

    <script type="text/javascript">
        $(document).ready(function () {
            // Récupération des données nécessaires au calcul
            $prixMercredi = parseFloat($('#entretien_mercredi').data('prix'));
            $prixNormal = parseFloat($('#entretien_normal').data('prix'));
            $prixRepas = parseFloat($('#repas').data('prix'));
            $heuresMercredi = parseFloat($('#entretien_mercredi').data('heures'));
            $heuresNormal = parseFloat($('#entretien_normal').data('heures'));

            // Sur le changement du nombre de jour d'entretien
            $(document).on('change', '#entretien_mercredi, #entretien_normal', function() {
                // On calcul le nombre d'heures normales
                $heuresTotal = $heuresMercredi * parseFloat($('#entretien_mercredi').val()) + $heuresNormal * parseFloat($('#entretien_normal').val());
                $('#heures').html($heuresTotal);

                // On calcul le nombre total de jours
                $nbJours = parseInt($('#entretien_mercredi').val()) + parseInt($('#entretien_normal').val()); 
                $('#nb-jours').html($nbJours);
                
                // On calcul le prix total de l'entretien
                $entretien = prixEntretien();
                $('#entretien-prix').html($entretien.toFixed(2));
                
                // On calcul le prix total des repas
                $repas = parseInt($('#nb-jours').html()) * $prixRepas;
                // TODO : A activer si repas
                //$('#repas').html($repas);
            }); 

            // Sur le calcul du salaire de la nounou
            $(document).on('click', '#calculer', function() {
                $entretien = prixEntretien();
                $repas = 0;
                // TODO : A activer si repas
                //$repas = parseFloat($('#nb-jours').html()) * $prixRepas;

                $salaire = parseFloat($('#salaire').html());
                
                $total = parseFloat($entretien + $repas + $salaire);
                
                $('#montant').html($total);
            });
            
            /**
             * Récupération du prix de l'entretien du mois
             *
             * @returns {Number}
             */
            function prixEntretien() {
                return parseFloat($('#entretien_mercredi').val()) * $prixMercredi + parseFloat($('#entretien_normal').val()) * $prixNormal;
            }
        });
    </script>
{% endblock %}
