{% extends 'base.html.twig' %}

{% block title %}
    Compte - {{ form.vars.value.nom }}
{% endblock %}

{% form_theme form _self %}

{# On surcharge l'affichage du prototype pour aligner les champs des réponses #}
{% block _app_compte_mouvements_entry_widget %}
    <tr>
        <td class="text-center">{{ form_widget(form.traite, { 'attr': { 'checked': 'checked' } }) }}</td>
        <td class="text-center">{{ form_widget(form.libelle) }}</td>
        <td class="text-center">{{ form_widget(form.date) }}</td>
        <td class="text-center">{{ form_widget(form.credit, { 'attr': { 'value' : 0 } }) }}</td>
        <td class="text-center">{{ form_widget(form.debit, { 'attr': { 'value' : 0 } }) }}</td>
        <td class="text-center mouvement-delete">
            <a href="#"><i class="fa fa-trash-alt"></i></a>
        </td>
    </tr>
{% endblock %}

{% block body %}
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
        <br/>

        {{ form_start(form) }}
        <h1>{{ form.vars.value.nom }}</h1>
        <h4 class="float-left text-success">{{ 'current'|trans }} : {{ solde.courant }} €</h4>
        <h4 class="float-right text-warning">{{ 'forecast'|trans }} : {{ solde.previsionnel }} €</h4>

        <div class="table-responsive">
            <p>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-info add_mouvement_link"><i class="fa fa-plus"></i> Ajouter
                    un mouvement
                </button>
            </div>

            <div class="btn-group">
                <button id="save" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>
            </div>
            <table class="table table-bordered table-sm margin" id="mouvements-new">
                <thead class="thead d-none">
                <tr>
                    <th class="text-center">{{ 'treated'|trans }}</th>
                    <th class="text-center">{{ 'title'|trans }}</th>
                    <th class="text-center">{{ 'date'|trans }}</th>
                    <th class="text-center">{{ 'credit'|trans }}</th>
                    <th class="text-center">{{ 'debit'|trans }}</th>
                    <th class="text-center">{{ 'actions'|trans }}</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            </p>
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th class="text-center">{{ 'treated'|trans }}</th>
                    <th class="text-center">{{ 'title'|trans }}</th>
                    <th class="text-center">{{ 'date'|trans }}</th>
                    <th class="text-center">{{ 'credit'|trans }}</th>
                    <th class="text-center">{{ 'debit'|trans }}</th>
                    <th class="text-center">{{ 'actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for mouvement in form.mouvements %}
                    <tr class="mouvements" data-prototype="{{ form_widget(form.mouvements.vars.prototype)|e }}">
                        <td class="text-center">{{ form_widget(mouvement.traite) }}</td>
                        <td class="text-center">{{ form_widget(mouvement.libelle) }}</td>
                        <td class="text-center">{{ form_widget(mouvement.date) }}</td>
                        <td class="text-center">{{ form_widget(mouvement.credit) }}</td>
                        <td class="text-center">{{ form_widget(mouvement.debit) }}</td>
                        <td class="text-center mouvement-delete">
                            <a href="#"><i class="fa fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>Pas (encore !) de mouvement</tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </main>

    <script type="text/javascript">
        // Initialisation
        let $collectionHolder;
        const $addMouvementButton = $('.add_mouvement_link');

        $(document).ready(function () {
            // Récupération des tr qui vont contenir les nouveaux mouvements
            $collectionHolder = $('tr.mouvements');

            // Compter les entrées de formulaire actuelles, utilisez-les comme nouveaux
            // index lors de l'insertion d'un nouvel élément
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            // Sur le clic du bouton nouveau mouvement
            $addMouvementButton.on('click', function (e) {
                // On ajoute un nouveau mouvement
                addMouvementForm($collectionHolder);
            });

            // Suppression de mouvements existants sur le clic de la corbeille
            $('.mouvement-delete').on('click', function (e) {
                $(this).parent().remove();
            });

            // Suppression des nouveaux mouvements
            $('#mouvements-new').on('click', 'td', function (e) {
                if ($(this).hasClass('mouvement-delete')) {
                    // On supprime le nouveau mouvement du formulaire
                    $(this).parent().remove();

                    // Si aucun nouveau mouvement
                    if ($('#mouvements-new tr').length - 1 === 0) {
                        // On masque l'en-tête du tableau
                        $('.thead').addClass('d-none');
                    }
                }
            });
        });

        /**
         * Ajoute un nouveau mouvement
         *
         * @param $collectionHolder
         */
        function addMouvementForm($collectionHolder) {
            // Affiche l'en-tête du tableau des nouveaux mouvements
            $('.thead').removeClass('d-none');

            // Récupération du prototype
            const prototype = $collectionHolder.data('prototype');

            // Récupération du nouvel index
            const index = $collectionHolder.data('index');

            // Récupération du prototype pour le modifier ensuite
            let newForm = prototype;

            // Remplacez '__name__' dans le code HTML du prototype par l'index
            newForm = newForm.replace(/__name__/g, index);

            // Augmenter l'index pour l'élément suivant
            $collectionHolder.data('index', index + 1);

            // Afficher le formulaire dans la page dans le tbody du nouveau tableau
            $('#mouvements-new tbody').append(newForm);

            // Affichage par défaut des valeurs
            const date = new Date().toISOString().slice(0, 10);
            const title = 'Divers';

            $('#mouvements-new input[type=date]').val(date);
            $('#mouvements-new td [id$="_libelle"]').val(title);
        }
    </script>
{% endblock %}
