{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
        <br />
        <h1>{{ 'account_list'|trans }} <span class="float-right text-success">{{ total|number_format(2, '.', ' ') }} €</span></h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>{{ 'name'|trans }}</th>
                    <th class="text-center">{{ 'current_balance'|trans }}</th>
                    <th class="text-center">{{ 'forecast_balance'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for compte in comptes %}
                    <tr style="cursor:pointer;" onclick="document.location='{{ path('compte_edit', {'id': compte.id}) }}'" title="{{ 'display'|trans }}">
                        <td>{{ compte.nom }}</td>
                        <td class="text-center">{{ compte.solde_courant }} €</td>
                        <td class="text-center">{{ compte.solde_previsionnel }} €</td>
                    </tr>
                {% else %}
                    <tr>{{ 'no_account_found'|trans }}</tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <div id="stats">
                {{ render(controller('App\\Controller\\DashboardController::stats')) }}
            </div>
        </div>
    </main>
{% endblock %}
